h1 {
  background-color:white;
  border:solid ;
text-align:center;
}
p {
  background-color:white;
  border:solid;
  text-align:center;
}
.button1 {
 background-color:white;
 border:solid;
 width:20%;

}
.button1:hover {
  background-color:blue;
  
}
.button2 {
  background-color:white;
  border:solid;
  width:20%;
  
}
