#banner { 
  height:10%;
  width:532px;
  background:white;
  float:;
  text-align:center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 50px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration:;
font-style: normal;
font-variant: normal;
text-transform: none;
border: 2px solid #000000; }
#nav {
   height:5%;
  width:532px%;
  background:white;
  float:;
  text-align:center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
border: 2px solid #000000;
}
#sidebar {
   height:30%;
  width:20.5%;
  background:white;
  float:left;
  text-align:center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;  
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
border: 2px solid #000000;
}
#content { 
   height:30%;
  width:78%;
  background:white;
  float:left;
  text-align:center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
border: 2px solid #000000;
float:right;
position:;
margin:%;
}
#box {
  height:60%;
  width:99.2%;
  background:white;
  float:left;
  text-align:center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 30px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
border: 2px solid #000000;
float:;

}

}
