ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #31CEFF;
}

li {
  float: center;
}

li a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border:solid;
  text-shadow: 2px 2px black;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  box-shadow:5px 5px 5px black;
}


li a:hover {
  background-color: #111;
}
h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  text-align:center;
  background:#31CEFF;
  font-size:300%;
  border: solid;
  text-shadow: 2px 2px 2px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ae {
  height:1000px
  width:1%;
}
